body{
    margin: 0;
    background-color: white;
    font-family: Arial, sans-serif;
}

.top{
    line-height: 35px;
    width: 100%;
    display: inline-block;
    background-color: #6bbaa7;
    margin-bottom: 55px;
}
.logo-container {
    display: inline-block;
    margin-right: 90px;
    margin-left: 30px;
}
.title{
    /*color: lavender;*/
    color: rgba(0,0,0,0);
    text-shadow: -0.3px -0.3px 0 #ffffff,
        0.3px -0.3px 0 #ffffff,
        -0.3px 0.3px 0 #ffffff,
        0.3px 0.3px 0 #ffffff;
    display: inline-block;
    /*margin-right: 90px;*/
    /*margin-left: calc(50% - 122px);*/
    font-size: 50px;

}

.title:before {
    background-image: url("logo.png");
    height: 50px;
    width: 50px;
}
img{
    height: 60px;
    display: inline-block;
    top: 13px;
    position: relative;
}
.header-buttons {
    right: 0;
    position: absolute;
    display: inline-block;
    margin: 35px 40px 0 0;
}
.sign-up-button{

    text-decoration: none;
    background-color: white;
    color: #6bbaa7;
    text-align: center;

    width: 90px;

    font-size: 20px;
    padding: 5px 10px 5px 10px;
}

.search{
    display: block;
    width: 50%;
    margin: auto;

}
.search-input-container{
    width: 100%;
    font-size: 0;
}
.search-input{
    font-size: 17px;
    font-weight: bold;
    /*margin-top: 53px;*/
    width: 96%;
    border-radius: 3px 0 0 3px;
    border: orange  2px solid;
    padding: 5px;
    vertical-align: top;
}

.fa-search{
    color: brown;
}
button{
    /*margin-bottom: 22px;*/
    width: 4%;
    box-sizing: border-box;
    background-color: orange;
    border: orange 2px solid;
    right: -30px;
    border-radius: 0 3px 3px 0;
    height: 34px;
    vertical-align: top;

}
button:hover{
    cursor: pointer;
}
p{
    text-align: center;
}
.filter{
    align-content: center;
    margin-bottom: 30px;
}
.check-box{
    display: inline-block;
    margin-left: calc(50% - 97.5px);
}

.result{
    border: 1px #000000 solid;
    width: 70%;
    margin: 0 auto;
}
.result-headers-container{
    display: block;
    width: 100%;
    font-size: 0;
}
.result-header{
    box-sizing: border-box;
    margin: 0;
    width: calc(100%/3);
    border-right: #000000 1px solid;
    display: inline-block;
    text-align: center;
    padding: 6px;
}
.result-header:last-child {
    border-right: 0;
}
.header-text{
    font-size: 20px;
    text-align: center;
}

.result-column-container{
    width: 100%;
    font-size: 0;
    border-top: #000000 1px solid ;
    overflow: hidden;
    position: relative;
    display: flex;

}
.result-column{
    display: inline-block;
    box-sizing: border-box;;
    margin: 0;
    width: calc(100%/3);
    border-right: #000000 1px solid;
    text-align: center;
    padding: 6px;
    line-height: 100%;
}


.result-column:last-child{
    border-right: 0;
}

ul{
    height: 100%;
    margin: 0;
    padding: 0;
}


.column-text{
    font-size: 20px;
    text-align: left;
    line-height: 24px;
}

.column-text-item {
    list-style: none;
}
.column-text-item-link {
    color: orange;
}
.column-text-item-description {
    color: gray;
    text-align: left;
    font-size: 17px;
}

footer{
    margin-top: 40px;
    background-color: #6bbaa7;
}




.footer-links {
    padding: 35px 0 23px;
    margin: 0;
    font-size: 30px;
    letter-spacing: 20px;
    text-decoration: none;
    border-radius: 50%;
}

.footer-company-name {
    color: white;
    font-size: 14px;
    margin: 0;
}

.search-btn {
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: brown;
}
.footer-link {
    color: orange;
    padding: 20px;
    text-decoration: none;
}
